<div class="container">
  <div class="card text-center", "col-md">
    <div class="card-header">
      <h1 class="junstagram">Junstagram</h1>
    </div>
    <div class="card-body">
      <%= form_with(scope: :session,url: sessions_path,local: true) do |f| %>
        <%= f.label :メールアドレス %>
        <br>
        <%= f.email_field :email %>
        <br>
        <%= f.label :パスワード %>
        <br>
        <%= f.password_field :password %>
        <br>
        <br>
        <%= f.submit "ログイン" %>
      <% end %>
    </div>
    <div class="card-footer">
      <p>アカウントをお持ちでない方は</p>
      <%= link_to "登録する", new_user_path %>
    </div>
  </div>
</div>
