<div class="container">
  <div class="card text-center","col-md">
    <div class="card-header">
      <h1>プロフィールを編集</h1>
    </div>
    <div class="card-body">
      <% if @user.errors.any? %>
        <h2><%= pluralize(@user.errors.count,"個のエラー") %>があります</h2>
        <ul class="error_messages">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="alert alert-warning" role="alert"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :email %>
        <br>
        <%= f.email_field :email %>
        <br>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
        <br>
        <%= f.label :password_confirmation %>
        <br>
        <%= f.password_field :password_confirmation %>
        <br>
        <br>
        <div>
          <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
          <%= f.label :プロフィール画像 %>
          <br>
          <%= f.file_field :image %>
          <br>
          <%= f.hidden_field :image_cache %>
        </div>
        <br>
        <br>
        <%= f.submit "編集する" %>
      <% end %>
    </div>
    <div class="card-footer">
      <p>アカウントを削除したい方は</p>
      <%= link_to 'アカウント削除', user_path(@user.id), method: :delete, data: { confirm: "本当に削除していいですか？" } %>
    </div>
  </div>
</div>