<div class="container">
  <ul class="row">
    <li class="col-sm-12 col-md-4">
      <%= image_tag @user.image.url if @user.image.url.present? %>
    </li>
    <li class="col-sm-12 col-md-4">
      <h1><%= @user.name %></h1>
      <br>
      <p>メールアドレス: <%= @user.email %></p>
    </li>
    <li class="col-sm-12 col-md-4">
      <%= link_to "profile edit", edit_user_path %> 
      <br>
      <br>
      <%= link_to "お気に入り一覧", users_path %>
      <br>
      <br>
      <%= link_to "Back", posts_path %>
    </li>
  </ul>  
</div>