<%= form_with(model: @post, local: true, url:choose_new_or_edit ) do |form| %>
  <% if @post.errors.any? %>
    <h2><%= @post.errors.count %>件のエラーがあります</h2>
    <ul class="error_messages">
      <% @post.errors.full_messages.each do |msg| %>
        <li class="alert alert-warning" role="alert"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :タイトル %>
  <br>
  <%= form.text_field :title, size: 40 %>
  <br>
  <br>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  <br>
  <%= form.file_field :image %>
  <br>
  <%= form.hidden_field :image_cache %>
  <br>
  <%= form.label :内容 %>
  <br>
  <%= form.text_field :content, size: 40 %>
  <br>
  <br>
  <%= form.submit('投稿',class: 'btn btn-lg my-1 mb-5 px-5') %> 
  <br>
  <div class="back_link">
    <%= link_to "戻る", posts_path %>
  </div>
<% end %>