<h2>以下の内容で投稿する</h2>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= @post.title %>
  <br>
  <%= @post.content %>
  <br>
  <%= form.submit "投稿する" %>
  <%= form.submit "戻る", name: 'Back' %>
<% end %>