<h1>Posts</h1>
<br>
  <% @posts.each do |post| %>
    <div>
      <strong>title:</strong>
      <p><%= post.title %></p>
    </div>
    <div>
      <strong>content:</strong>
      <p><%= post.content %></p>
    </div>
    <div>
      <%= link_to 'show', post_path(post.id) %>
      <br>
      <%= link_to 'edit', edit_post_path(post.id) %>
    </div>
  <% end %>
<%= link_to 'New post', new_post_path %>
