<h1>Posts</h1>
<%= notice %>
<br>
  <% @posts.each do |post| %>
    <div>
      <strong>title:</strong>
      <p><%= post.title %></p>
    </div>
    <div>
      <p><%= image_tag post.image.url if post.image.url.present? %></p>
    </div>
    <div>
      <strong>content:</strong>
      <p><%= post.content %></p>
    </div>
    <div>
      <%= link_to 'show', post_path(post.id) %>
      <br>
      <%= link_to 'edit', edit_post_path(post.id) %>
      <br>
      <%= link_to 'delete', post_path(post.id), method: :delete, data: { confirm: "本当に削除していいですか？" } %>
    </div>
  <% end %>
<%= link_to 'New post', new_post_path %>
