<div class="new_post_link">
  <%= link_to '新規投稿', new_post_path%>
</div>
<h1>みんなの投稿</h1>
<br>
<% @posts.each do |post| %>
  <div class="card" style="width: 35rem;">
    <div class="card-img-top">
      <p><%= image_tag post.image.url if post.image.url.present? %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">投稿者：<%= post.user.name %></li>
      <li class="list-group-item">タイトル：<%= post.title %></li>
      <li class="list-group-item">内容：<%= post.content %></li>
      <li class="show_page_link"><%= link_to '詳細', post_path(post.id) %></li>
      <% if post.user == current_user %>
        <li><%= link_to '編集', edit_post_path(post.id) %></li>
        <br>
        <li><%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: "本当に削除していいですか？" } %></li>
      <% end %>
    </ul>
  </div>
<% end %>

