<!DOCTYPE html>
<html>
  <head>
    <title>JunstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <div class="container">
          <ul class="nav justify-content-center">
            <li class="nav-item, col-sm-6 col-md-6">
              <h1 class="junstagram">Junstagram</h1>
            </li>
            <li class="nav-item, col-sm-3 col-md-3">
              <%= link_to "プロフィール", user_path(current_user.id) %>
            </li>
            <li class="nav-item, col-sm-3 col-md-3">
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
            </li>
          </ul>
        </div>
        <% else %>
          <div class="container">
            <ul class="nav justify-content-center">
              <li class="nav-item, col-sm-6 col-md-2">
                <%= link_to "アカウント登録", new_user_path %>
              </li>
              <li class="nav-item, col-sm-6 col-md-2">
                <%= link_to "ログイン", new_session_path %>
              </li>
            </ul>
          </div>
      <% end %>
    </header>
    <% flash.each do |key,value| %>
      <h4 class="flash_message"><%= content_tag(:div, value, class: "#{key}") %></h4>
    <% end %>
    <%= yield %>
    <footer>
      <div class="footer">
        <p>Junstagram by TonbiNeko</p>
        <p> ! THANK YOU !</p>
      </div>
    </footer>
  </body>
</html>
